<!DOCTYPE html>
<html lang="fi">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'kirjautuminen.css' %}">
    </head>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            <img id="raseko-logo" src="{% static 'Raseko-logo-vaaka_VÄRI.png' %}" alt="RASEKO-Logo"/>
            <h1>Kirjaudu Sisään</h1>
            <p>Kirjautuminen tapahtuu oppilaan henkilökohtaisella, koulun tarjoamalla opiskelijatunnuksella ja salasanalla</p>
            <section>
                <p>
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                </p>
            </section>
            <input type="text" name="käyttäjätunnus" placeholder="Käyttäjätunnus"><br>
            <input type="password" name="salasana" placeholder="Salasana"><br>
            <button type="submit">Kirjaudu Sisään</button>
        </form>
    </body>
</html>