<!-- Lainaussivu -->

{% extends "base.html" %}

{% block title %}Lainaus{% endblock title %}

{% block content %}
<body>
    <div class="lainaus-keskita">
        <h1 class="iso_otsikko" id="lainaus-otsikko">Tervetuloa, {{ user.get_full_name | capfirst }}</h1>
        <p class="lainaus-ohjeteksti"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut <br> 
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat.<br>
        
        <!-- Hakukenttä -->
        <div class="form-group">
            <input type="text" class="form-control" id="hakukentta" placeholder="Hae"/>
        </div>
        
        <!-- Ei tulosta -näkymä -->
        <div class="ei-tulosta">
            <p> Ei hakutulosta </p>
        </div>

        <div class="taulukko-perus">
        <div class="lainaus-scroll">
                <table class="lainaus-taulu">
                    <div class="lainaus-otsikot">
                        <thead>
                            <tr>
                                <th>Tuotekuva</th>
                                <th>Nimike</th>
                                <th>Kappalemäärä</th>
                                <th>Lainaa</th>
                                <th>Palauta</th>
                            </tr>
                        </thead>
                    </div>
                        <tbody>
                            {%for tuote in tuotteet%}
                                <tr>
                                    <td>{{tuote.tuotekuva}}</td>
                                    <td>{{tuote.nimike}}</td>
                                    <td>{{tuote.kappalemaara}}</td>
                                    <td class="lainaus-nappi"> - </td> <!-- BUG: lainaus-toiminto -->
                                    <td class="lainaus-nappi"> - </td> <!-- BUG: palautus-toiminto -->
                                </tr>
                            {%endfor%}
                        </tbody>
                </table>
            </div>
        </div>
        
        <div class="taulukko-tulos">
            <div class="lainaus-scroll">
                <table class="lainaus-taulu">
                    <div class="lainaus-otsikot">
                        <thead>
                            <tr>
                                <th>Tuotekuva</th>
                                <th>Nimike</th>
                                <th>Kappalemäärä</th>
                                <th>Lainaa</th>
                                <th>Palauta</th>
                            </tr>
                        </thead>
                    </div>
                    <tbody class="table-body">
                        <!-- Tänne tulostuu hakukentta.js-tiedostosta taulurivejä -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock content%}

<!-- Linkataan hakukentta.js -->
{% load static %}
{% block scripts %}
    <script src="{% static 'hakukentta.js' %}"></script>
{% endblock scripts %}