<!-- Lainaussivu -->

{% extends "base.html" %}

{% block title %}
    Varastonhallinta - Lainaussivu
{% endblock title %}

{% block content %}
<body>
    <div class = "lainaus-keskita">
        <h1 class="iso_otsikko" id="lainaus-otsikko">Lainaus / Palautus</h1>
        <p class="lainaus-ohjeteksti"> Lainaa tai palauta tietokannassa näkyviä tuotteita. </br> </br>
        

        <!-- Hakukenttä -->
        <div class = "hakukentta-wrap">
            <div class="vasen-hakukentta">
                <p><b> Hae tuotteita </b></p>
            </div>
            <div class="oikea-hakukentta">
                <!-- <input type="text" class="haku" id="hakukentta" placeholder="Hae"/> !-->
                <form id="haku-form" autocomplete = "off">
                    {% csrf_token %}
                    <input type="text" class="haku" id="hakusyote" placeholder="Hae"/>
                </form>
            </div>
        </div>


        <!-- Taulukon perusnäkymä -->
        <div class="taulukko-perus">
            <div class="scroll-wrap">
                <table class="lainaus-taulu">
                    <div class="lainaus-otsikot">
                        <thead>
                            <tr>
                                <th>Tuotekuva</th>
                                <th>Nimike</th>
                                <th>Kappalemäärä</th>
                                <th>Tila</th>
                            </tr>
                        </thead>
                    </div>
                        <tbody>
                            {% for tuotteett in tuotteet %}
                                <tr>
                                    <td><img src="{{ tuotteett.tuotekuva.url }}" class="tuotekuva" alt="Tuotekuva"></td>
                                    <td>{{tuotteett.nimike}}</td>
                                    <td>{{tuotteett.kappalemaara}}</td>
                                    <td class="lainaus-nappi"> - </td> <!-- BUG: lainaus-toiminto -->
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>

        
        <!-- Taulukon tulosnäkymä -->
        <div class="taulukko-tulos ">
            <div class="scroll-wrap">
                <table class="lainaus-taulu" >
                    <div class="lainaus-otsikot">
                        <thead>
                            <tr>
                                <th>Tuotekuva</th>
                                <th>Nimike</th>
                                <th>Kappalemäärä</th>
                                <th>Tila</th>
                            </tr>
                        </thead>
                    </div>
                    <tbody class="piilossa" id="tulos-taulukko">
                        <!-- Tänne tulostuu hakukentta.js-tiedostosta 
                            taulurivejä -->
                    </tbody>
                </table>
                <!-- Ei tulosta -näkymä -->
                 {% comment %}
                    <!-- Ei tulosta -näkymä -->
                    <div class="ei-tulosta">
                        </br><p><b> Ei hakutulosta </b></p>
                    </div> 
                {% endcomment %}
            </div>
        </div>


        <!-- Pagination, eli sivutus -->
        <nav>
            <div class="p-wrapper container">
                <ul class="pagination">
                    {% if tuotteet.has_previous %}
                        <li class="sivu eka"><a class="edellinen" href="?sivu={{ tuotteet.previous_page_number }}"> &laquo Edellinen </a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        {% if i == sivunumero %}
                            <li class="is-active"> <a class="sivu-linkki {% if maara <= per_page %} hidden {%endif%}" href="?sivu={{ i }}"> {{i}} </a> </li>
                        {% else %}
                            <li class="sivu"> <a class="sivu-linkki" href="?sivu={{ i }}"> {{i}} </a> </li>
                        {% endif %}
                    {% endfor %}

                    {% if tuotteet.has_next %}
                        <li class="sivu vika"><a class="seuraava" href="?sivu={{ tuotteet.next_page_number }}">Seuraava &raquo</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</body>
{% endblock content%}

<!-- Ladataan staattiset tiedostot ja linkataan hakukentta.js -->
{% load static %}
{% block scripts %}
    <script src="{% static 'lainaus-hakukentta.js' %}"></script>
{% endblock scripts %}