<!-- Lainaussivu -->

{% extends "base.html" %}

{% block title %}
    Varastonhallinta - Lainaussivu
{% endblock title %}

{% block content %}
<body>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <div class = "lainaus-keskita">
        <h1 class="iso_otsikko" id="lainaus-otsikko">Lainaa tuote</h1>
        <p class="lainaus-ohjeteksti"> Lainaa varastossa olevia tuotteita sinisen Lainaa-napin avulla.</br> </br>

        <!-- Hakukenttä -->
        <div class = "hakukentta-wrap">
            <div class="vasen-hakukentta">
                <p><b> Hae tuotteita </b></p>
            </div>
            <div class="oikea-hakukentta">
                <!-- <input type="text" class="haku" id="hakukentta" placeholder="Hae"/> !-->
                <form id="haku-form" autocomplete = "off">
                    {% csrf_token %}
                    <input type="text" class="haku" id="hakusyote" placeholder="Hae"/>
                </form>
            </div>
        </div>

        <!-- Taulukon perusnäkymä -->
        <div class="taulukko-perus">
            <div class="scroll-wrap">
                <table class="lainaus-taulu">
                    <div class="lainaus-otsikot">
                        <thead>
                            <tr>
                                <th>Tuotekuva</th>
                                <th>Nimike</th>
                                <th>Määrä</th>
                                <th></th>
                            </tr>
                        </thead>
                    </div>
                        <tbody>
                            {% for tuote in tuotelista %}
                                <tr>
                                    <td><img src="{{ tuote.tuotekuva.url }}" class="tuotekuva" alt="Tuotekuva"></td>
                                    <td>{{tuote.nimike}}</td>
                                    <td>{{tuote.kappalemaara}}</td>
                                    <td><button type="button" class="lainaus-nappi"><a href="{% url 'suorita-lainaus' tuote.id %}">Lainaa</a></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>

        <!-- Taulukon tulosnäkymä -->
        <div class="taulukko-tulos ">
            <div class="scroll-wrap tulos-wrap">
                <table class="lainaus-taulu" >
                    <div class="lainaus-otsikot">
                        <thead>
                            <tr>
                                <th>Tuotekuva</th>
                                <th>Nimike</th>
                                <th>Määrä</th>
                                <th></th>
                            </tr>
                        </thead>
                    </div>
                    <tbody class="piilossa" id="tulos-taulukko">
                        <!-- Tänne tulostuu hakukentta.js-tiedostosta
                            taulurivejä -->
                    </tbody>
                </table>
                <!-- Ei tulosta -näkymä -->
                 {% comment %}
                    <!-- Ei tulosta -näkymä -->
                    <div class="ei-tulosta">
                        </br><p><b> Ei hakutulosta </b></p>
                    </div>
                {% endcomment %}
            </div>
        </div> </br> </br>


        <!-- Pagination -->
        <nav>
            <div class="p-koko" id="pagination">
                <!-- Jos tuotelistalla on edellinen sivu, tulostuu nuoli vasemmalle: «. -->
                {% if tuotelista.has_previous %}
                    <a class="edellinen eka" href="?sivu={{ tuotelista.previous_page_number }}"> &laquo</a>
                {% endif %}

                <!-- Käydään läpi ja tulostetaan jokainen sivunumero. -->
                {% for i in paginator.page_range %}
                    <!-- Jos sivu on auki, siihen lisätään is-active-class,
                         jota kautta sen ulkonäköä voidaan muokata normaalista poikkeavaksi. -->
                    {% if i == sivut %}
                        <a class="is-active sivu-linkki {% if maara <= per_page %} hidden {%endif%}" href="?sivu={{ i }}"> {{i}} </a>
                    <!-- Muuten sivunumerot tulostetaan normaalisti. -->
                    {% else %}
                        <a class="numero" href="?sivu={{ i }}"> {{i}} </a>
                    {% endif %}
                {% endfor %}

                <!-- Jos tuotelistalla on seuraava sivu, tulostuu nuoli oikealle: ». -->
                {% if tuotelista.has_next %}
                    <a class="seuraava vika" href="?sivu={{ tuotelista.next_page_number }}">&raquo</a>
                {% endif %}
            </div>
        </nav>
    </div>
</body>
{% endblock content%}

<!-- Ladataan staattiset tiedostot ja linkataan hakukentta.js -->
{% load static %}
{% block scripts %}
    <script src="{% static 'lainaus-hakukentta.js' %}"></script>
{% endblock scripts %}