{% extends "base.html" %}

{% block title %}Lisää Tuote{% endblock %}

{% block css %}
{% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static "lisaa-tuote.css" %}">
{% endblock %}

{% block content %}
    <h1>Lisää Tuote</h1>
    {% comment %} <form action="/" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-control {% if field.error %}errors{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit">Send</button>
    </form> {% endcomment %}
{% endblock %}