{% extends "base.html" %}

{% block title %}Muokkaa Tuotetta{% endblock %}

{% block content %}

<div class="l-wrapper mt">
    <div class="jutut">
        <div class="l-teksti">
            <p class="pa-la">Muokkaa&nbsp;</p><p> tuotetta </p>
        </div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-control {% if field.error %}errors{% endif %}">
                    <div class="label"> {{ field.label_tag }} </div>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            
            <div class="nappi">
                <button class="p-nappi" type="submit">Muokkaa tuotetta</button>
            </div>
        </form>
    </div>
</dib>
{% endblock %}