{% extends "base.html" %}

{% block title %}Muokkaa Tuotetta{% endblock %}

{% block css %}
{% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static "muokkaa-tuotetta.css" %}">
{% endblock %}

{% block content %}
        <div id="sivun-sisalto">
            <h1>Muokkaa Tuotetta</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-control {% if field.error %}errors{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}

                <button id="muokkaa-tuotetta-nappi" type="submit">Muokkaa tuotetta</button>
            </form>
        </div>
{% endblock %}