{% extends "base.html" %}

{% block title %}Asetukset{% endblock %}

{% block content %}
<div class="l-wrapper a-wrapper">
    <div class="jutut">
        <div class="l-teksti">
            <p>Käyttäjäasetukset</p>
        </div>
        <p>Jos haluat vaihtaa salasanasi, tee se <a class="pa-la" href="{% url "vaihda-salasana" %}">täältä</a>.</p></br>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class ="nappi">
                <button class="p-nappi" type="submit">Muokkaa</button>
            </div>
        </form>

        <p>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}