<!DOCTYPE html>
<html lang="fi">
    <head>
        {% load static %}
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'kirjautuminen.css' %}"> {% endcomment %}
    </head>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            <img id="raseko-logo" src="{% static 'Raseko-logo-vaaka_VÄRI.png' %}" alt="RASEKO-Logo"/>
            <h1>Rekisteröidy</h1>
            <p>Rekisteröityminen tapahtuu henkilökohtaisella, koulun tarjoamilla tiedoilla</p>
            <section>
                <p>
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                </p>
            </section>
            {{ form.as_p }}
            <button type="submit">Luo käyttäjä</button>
        </form>
    </body>
</html>












{% comment %} {% extends "base.html" %}

{% block title %}Luo Käyttäjä{% endblock %}

{% block content %}
    <main>
        <h2>Luo Käyttäjä</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Luo käyttäjä</button>
        </form>
    </main>
    <p>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    </p>
{% endblock %} {% endcomment %}