<!DOCTYPE html>
<html lang="fi">
    <div class ="kirjautuminen"
        <head>
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        </head>
        <body>
            <div class="keskita">
                <div class="kirjautumiskortti r-kortti"
                    <form action="" method="post">
                        {% csrf_token %}
                        <img class="logo" src="{% static 'Raseko-logo-vaaka_VÄRI.png' %}" alt="RASEKO-Logo"/>
                        <div class ="ohje">
                            <h1 class="otsikko">Rekisteröidy</h1>
                            <p>Rekisteröityminen tapahtuu koulun sähköpostiosoitteella. <br> Opiskelijanumerosi toimii käyttäjätunnuksena.</p>
                        </div>
                        <section>
                            <p>
                                {% if messages %}
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                {% endif %}
                            </p>
                        </section>
                        {{ form.as_p }}
                        <button type="submit" class="p-nappi">Luo käyttäjä</button>
                        <p class="ohje2">Omistat jo tunnukset? <a href="{% url 'kirjautuminen' %}">Kirjaudu sisään</a>.</p>
                    </form>
                </div>
            </div>
        </body>
    </div>
</html>