<!DOCTYPE html>
<html lang="fi">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'rekisteroityminen.css' %}">
    </head>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            <img id="raseko-logo" src="{% static 'Raseko-logo-vaaka_VÄRI.png' %}" alt="RASEKO-Logo"/>
            <h1>Rekisteröidy</h1>
            <p><em>Tai <strong><a href="{% url 'kirjautuminen' %}">kirjaudu sisään</a></strong> jos sinulla on jo tunnukset.</em></p>
            <p>Rekisteröityminen tapahtuu, koulun tarjoamalla sähköpostiosoitteella ja opiskelijanumerosi toimii käyttäjätunnuksena.</p>
            <section>
                <p>
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                </p>
            </section>
            {{ form.as_p }}
            <button type="submit">Luo käyttäjä</button>
        </form>
    </body>
</html>