{% extends "base.html" %}

{% block title %}Suorita Lainaus{% endblock %}

{% block content %}
<div class="l-wrapper">
    <div class="jutut">
        <div class="l-teksti">
            <p>Suorita <p class="pa-la">&nbsp;lainaus</p>
        </div>

        <form method="POST">
            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}

            {% for field in form %}
                <div class="form-control {% if field.error %}errors{% endif %}">
                    <div class="label">{{ field.label_tag }}</div>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <div class ="nappi">
                <button class="p-nappi" type="submit">Vahvista</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}