{% extends "base.html" %}

{% block title %}Vaihda salasana{% endblock %}

{% block content %}
<div class="l-wrapper a-wrapper">
    <div class="jutut">
        <div class="l-teksti">
            <p>Vaihda salasana</p>
        </div>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class ="nappi">
                <button class="p-nappi" type="submit">Vaihda salasana</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}