/* YLEISASETUKSIA */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Leipäteksti */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12pt;
}

/* HEADER */

header {
    display: flex;
    background-color: #1b3259;
    width: 100%;
    height: 60px;
}

.vasen-header {
    display: flex;
    justify-content: flex-end;
}

.logo {
    cursor: pointer;
    resize: none;
    max-width: 230px;
    height: auto;
    width: 100%;
    padding: 2px;
}

.nav-links a {
    color: white;
    font-size: 13pt;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 15px 20px;
}


/* AKTIIVINEN SIVU HEADERISSA */

.active {
    height: 60px;
    background-color: #efefef;
    border-bottom: 1px solid #1b3259;
}

.active a {
    color: black;
}

.inactive:hover {
    background-color: #122340;
    transition: 0.5s;
}

/* KIRJAUDU ULOS PAINIKE HEADERISSA */

.oikea-header {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    background-color: #df2070;
    width: 170px;
    height: 48px;
    display: inline-block;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}

.right:hover {
    background-color: #b31e5c;
    transition: 0.5s;
}

.right a {
    font-size: 13pt;
    text-decoration: none;
    color: white;
}

/* DEFAULT WRAPPER */

.wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 5px;
}

/* JOS HALUTAAN FOOTER 

#container {
    position: relative;
    min-height: 100vh; >> Jos haluaa sivuista ruudun kokoisen
  }
  
#wrapper {
    padding-bottom: 60px; >> Sama kuin footerin pituus
}
  
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; >> Footerin pituus           
  background-color: #122340;
} */

/* FONTTEJA RASEKON OHJEIDEN MUKAAN */

.iso_otsikko {
    font-family: 'Kanit', sans-serif;
    font-size: 22pt;
    color: #df2070;
}

.valiotsikko {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12pt;
    color: #df2070;
}

.korostusfontti {
    font-family: 'Caveat Brush', cursive;
    font-size: 12pt;
    color: #df2070;
}

/* LAINAUSTAULU */

.lainaus-keskita {
    width: 1400px;
    margin: auto;
}

.lainaus-taulu {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.lainaus-taulu td, .lainaus-taulu th {
    text-align: left;
    height: 100px;
    padding: 0.5rem;
    min-width: 270px ;
}

.lainaus-taulu td {
    border-bottom: 2pt solid #efefef;
}

.lainaus-taulu th {
    border-bottom: 2pt solid #d6d6d6;
    background-color: white;
    font-family: 'Nunito Sans semibold', sans-serif;
    color: #424242;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.lainaus-taulu tr:nth-child(odd){
    background-color: #1b32590a;
}

.scroll-wrap {
    overflow-y:scroll;
    height: 600px;
    position: relative;
}


/* LAINAUSTYYLITTELYÄ */

#lainaus-otsikko {
    margin: 30px 0 10px 0;
}

.lainaus-ohjeteksti {
    margin-bottom: 20px;
}

/* LAINAUS SCROLL */
  
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #efefef
}

*::-webkit-scrollbar-thumb {
    background-color: grey;
    border: 3px solid #efefef;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b
}

/* LAINAUS SEARCH BAR */

.hakukentta-wrap {
    display: flex;
    background-color: #df2070;
    color: white;
    width: 100%;
    height: 60px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.vasen-hakukentta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
.oikea-hakukentta {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.haku {
    height: 40px;
    border-radius: 3px;
    border: 1px #df2070;
    padding: 10px;
}

/* EI TULOSTA NÄKYMÄ */

.ei-tulosta {
    width: 100%;
    padding: 10px;
}

/* TUOTEKUVA */

.tuotekuva {
    max-height: 100%;
    image-rendering: auto;
}



/* kokeilua */
.not-visible {
    display: none;
}

#results-box {
    background-color: red;
    width: 300px;
    height: 500px;
}
