#lisaa-tuotteita {
    background-color: #00FF00;
}

#muokkaa-nappi {
    background-color: #4bbcc5;
}

#poista-nappi {
    background-color: #FF0000;
}

#muokkaa-linkki,
#poista-linkki {
    text-decoration: none;
    color: white;
}